@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-color-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-color-div .color-div {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: small;
}

.main-color-div .color-div button {
    padding: 12px;
    width: 120px;
    border: none;
    border-radius: 8px;
}


.main-color-div .color-div .color-value {
    padding: 12px;
    width: 120px;
    border: none;
    border-radius: 8px;
    background-color: white;
    text-align: center;
}

.main-color-div .color-div p:hover {
    cursor: pointer;
}