@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-color-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-color-div .color-div {
    width: 20%;
    height: 105vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: small;
}

.main-color-div .color-div button {
    padding: 12px;
    width: 120px;
    border: none;
    border-radius: 8px;
}


.main-color-div .color-div .color-value {
    padding: 12px;
    width: 120px;
    border: none;
    border-radius: 8px;
    background-color: white;
    text-align: center;
}

.main-color-div .color-div p:hover {
    cursor: pointer;
}

.msg {
    width: 100%;
    height: 10vh;
    margin: -20vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}
#copy-msg {
    display: none;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    border: none;
    padding:10px 20px;
    border-radius: 8px;
    background-color: royalblue;
    color: white;
}
 

.nav-bar{
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: capitalize;
}

.nav-bar #left-button {
    padding-left: 30px;
}

.nav-bar #right-button {
    padding-right: 30px;
}

.fa-sharp {
    font-size: 30px;
    background: linear-gradient(#E43397, #4C0BD1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
