@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(#E43397, #4C0BD1);
}

#gradient {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 150px;
    gap: 15px;
}

#gradient .colors {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 10px;
} 

.colors .color-item:hover {
    cursor: pointer;
}

#gradient .colors .color-item {
    border: none;
    border-radius: 8px;
    padding: 20px 20px;
    color: white;
    transition: 0.1s;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;    padding: 11px;   
}

.colors #create-color-item {
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    background: black;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;    padding: 11px;
}

 .color-item a:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }

#create-color-item:hover {
    cursor: pointer;
    background: white;
    color: black;
    
}

.directions {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
}


#generate-gradient {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;    padding: 11px;
}

#generate-gradient a:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }

.nav-bar{
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: capitalize;
}

.nav-bar #left-button {
    padding-left: 30px;
}

.nav-bar #right-button {
    padding-right: 30px;
}

.fa-sharp {
    font-size: 30px;
    background: linear-gradient(#E43397, #4C0BD1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h1{
    background: linear-gradient(#E43397, #4C0BD1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#gradient p{
    font-weight: 1000;
    font-size: 20px;
    color: white;
}

.bi{
    font-size: 40px;
    color: rgba(255, 255, 255, 0.692);
}
 .dropdown a{
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;    padding: 11px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    transition: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
 }

 .dropdown a:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }

 .grendient-type{
    position: absolute;
    top:65%;
    right:33%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.067);
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: none;

     
 }
 .grendient-type a{
    display: block;
    color: #fff;
 }
 .color-btn{
    display: flex;
    gap: 25px;
 }
 .color-btn2{
    display: flex;
    gap: 25px;
 }

 @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #gradient {
      width: 100%;
      padding: 30px;
    }
    #gradient p{
        margin-top: 80px;
    }
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .directions {
      width: 100%;
      display: flex;
       flex-wrap: wrap;
    }
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
   
    .color-btn{
        display: flex;
        flex-wrap: wrap;
    }
    .color-btn2{
        display: flex;
        flex-wrap: wrap;
    }
    h1{
        font-size: 4vw;
    }
  }

 