@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  
    color:rgb(255, 255, 255)
}
section{
   height: 100vh;
   width: 100vw;
   padding-top: 120px;
   background: linear-gradient(#E43397, #4C0BD1);
   align-items: center;
}
.nav-bar{
   height: 80px;
   position: fixed;
   top: 0;
   z-index: 10;
   background-color:rgb(255, 255, 255);
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}
.nav-bar #left-button {
   padding-left: 30px;
}

.nav-bar #right-button {
   padding-right: 30px;
}

.fa-sharp {
   font-size: 30px;
   background: linear-gradient(#E43397, #4C0BD1);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}
h1{
   text-align: center;
   font-size: 36px;
   color: #121212;
}

.team-container{
   margin-top: 50px;
   display: flex;
   flex: 1;
   gap: 50px;
   justify-content: center;
}
.container{
   display: flex;
   flex-direction: column;
   text-align: center;
}
.img-box img{
   border-radius: 50%;
   height: 250px;
}
a{
   text-decoration: none;
   color: rgb(255, 255, 255)
}